[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-telegram-bot = "*"
sentry-sdk = "*"
requests = "*"

[dev-packages]
pre-commit = "*"

[requires]
python_version = "3.6"
